body {
    margin: 0;
    font-family: sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
}
.mb-2 {
    margin-bottom: 2rem;
}